header{ font-size: 27px;
    font-weight: bold;
    text-align: center;
}

.main{
    width: 800px;
    border-bottom: 1px solid black;
    margin: auto;
    text-align: left;
   background-color: lime;
    padding: 5px 30px;
}
.main h3 {
    padding-top: 5px;
    background: #cccccc;
}

.main_1 {
    display: flex;
    margin: auto;
    width: 860px;
    height:1000px ;
    background: skyblue;
    text-align: center;
    font-size: 12px;
    padding-top: 34px;
}
.main_1 div{}

.main_1 section ul{
    margin: auto;
}
.main_1 section ul img  {
    width: 180px; /* Adjust image width as needed */
    height: auto;
    padding-left: 40px;
    display: flex;
}
.main_2 div{
    margin: auto;
}