header{ font-size: 27px;
    font-weight: bold;
    text-align: center;
}

.main{
    width: 800px;
    border-bottom: 1px solid black;
    margin: auto;
    text-align: left;
    background-size: contain ;
    background: #cccccc;
}
.main_1 h3 {
}

.main_1 {
    display: flex;
    width: 860px;
    height:1280px ;
    margin: auto;
    text-align: center;
    background: skyblue;

}
.main_1 section ul,
.main_1 section img  {
    display: flex;
    text-align: center;
    width: 200px; /* Adjust image width as needed */
    height: auto;
    margin-right: -5px;
    background: #cccccc;
}
.ㅁ{
    border-bottom: 1px solid black;
}